{% extends "layout/mdl_app.html" %}
{% import "layout/mdl_app.html" as mdl %}
{% set app_name = "VK Token Requestor" %}
{% set description = "Get token from VK mobile app." %}
{% set navlnk = [('Source code', ''), ('Author', 'https://vk.com/bionic.leha'), ('About', '')] %}

{% set app_title = "Auth VK" %}
{% set app_descr = "This app requesting token from official mobile clients" %}
{% set app_img = "https://getmdl.io/assets/demos/welcome_card.jpg" %}

{% block app_card %}
<div class="page-content">
    <div class="mdl-grid mdl-cell--4-col">
        <div class="my-card-wide mdl-card mdl-shadow--2dp">
            <form method="post">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">{{ app_title }}</h2></div>
                {{ mdl.card_text(app_descr) }}
                {# id='inp_log' #}
                <div class="mdl-card__supporting-text text_input">
                    {{ mdl.input_text('Phone or email', params='name=login id=inp_log pattern=(^[0-9]{10,15}$)|(^.+@.+\..{2,}$) required') }}
                    {{ mdl.input_text('Password', params='type=password name=pass id=inp_pass required') }}
                </div>
                <div class="mdl-card__supporting-text">
                    Select scopes:
                    <div class="mdl-grid">
                        <div class="mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                <input type="checkbox" name="scope" value="messages" id="checkbox-1"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Messages</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                <input type="checkbox" name="scope" value="photos" id="checkbox-2"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Photos</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                <input type="checkbox" name="scope" value="friends" id="checkbox-3"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Friends</span>
                            </label>
                        </div>
                        <div class="mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" name="scope" value="audio" id="checkbox-4"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Audio</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                <input type="checkbox" name="scope" value="video" id="checkbox-5"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Video</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                <input type="checkbox" name="scope" value="wall" id="checkbox-6"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Wall</span>
                            </label>
                        </div>
                        <div class="mdl-cell--4-col">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
                                <input type="checkbox" name="scope" value="status" id="checkbox-7"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Status</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
                                <input type="checkbox" name="scope" value="offline" id="checkbox-8"
                                       class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Offline</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                    Select app:
                    <div class="mdl-grid">
                        <div class="mdl-cell--4-col">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                                <input type="radio" id="option-1" name="app_name" value="android"
                                       class="mdl-radio__button" checked>
                                <span class="mdl-radio__label">Android</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                                <input type="radio" id="option-2" name="app_name" value="iphone"
                                       class="mdl-radio__button">
                                <span class="mdl-radio__label">iPhone</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                                <input type="radio" id="option-3" class="mdl-radio__button" name="app_name"
                                       value="ipad">
                                <span class="mdl-radio__label">iPad</span>
                            </label>
                        </div>
                        <div class="mdl-cell--4-col">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                                <input type="radio" id="option-4" class="mdl-radio__button" name="app_name"
                                       value="windowsphone">
                                <span class="mdl-radio__label">WindowsPhone</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                                <input type="radio" id="option-5" class="mdl-radio__button" name="app_name"
                                       value="windows">
                                <span class="mdl-radio__label">Windows</span>
                            </label>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--4-col" id="2fa-c">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb2fa">
                                <input type="checkbox" name="cb2fa" class="mdl-checkbox__input" id="cb2fa">
                                <span class="mdl-checkbox__label">Need 2FA</span>
                            </label>
                        </div>
                        <div class="mdl-cell--4-col p-bar" id="2fa-i">
                            {{ mdl.input_text('2FA Code', params='name=code pattern=(^[0-9]{6}$)') }}
                        </div>
                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate p-bar" id="pbar"></div>
                    <div class="p-bar">
                        <img src="" id="captcha_img">
                        {{ mdl.input_text('Captcha', params='id=captin pattern=(^{4,}$)') }}
                    </div>
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable p-bar" id="chip">
                        <img class="mdl-chip__contact" id="photo" src="">
                        <span class="mdl-chip__text" id="name"></span>
                        <a href="#" id="del_chip" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
                    </span>
                </div>
                <div class="mdl-card__supporting-text"><span class="typo-styles__name" id="token">Your token will not be saved or used by me</span>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button type="submit" name="auth_vk" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Get Token</button>
                </div>
                <div class="mdl-snackbar mdl-js-snackbar">
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button"></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock app_card %}

{% block scripts %}
<script type=text/javascript>
    $('#cb2fa').click(function () {
        if ($(this).is(':checked')) {
            $('#2fa-i').css("display", "block");
            $('#2fa-c').css("display", "none");
        }
    });
    $('#del_chip').click(function () {
        $('#chip').css("display", "none");
        $('#token').text('Have nice day, bro');
    });
    $(function () {
        var data_form = $('form');
        var chip = $('#chip');
        var loading = $('#pbar');
        data_form.submit(function (event) {
            loading.css("display", "block");
            event.preventDefault();
            if ($('input:checkbox:checked').length <= 0) {
                document.querySelector('.mdl-js-snackbar').MaterialSnackbar.showSnackbar({message: 'Select at least one scope', timeout: 5000});
                return false;
            } else {
                $.getJSON('http://farpc.tk/auth', data_form.serialize(), function (data) {
                    console.log(data);
                    loading.css("display", "none");
                    if (!data['c_sid']) {
                        chip.css("display", "inline-block");
                        $("#name").text(data['name']);
                        $("#photo").attr("src", data['photo']);
                        $("#token").text(data['token']);
                    } else {
                        $("#token").text('Too many requests, please, enter captcha');
                        $("#captin").css('display', 'block');
                        $.getJSON('http://farpc.tk/auth', data_form.serialize()+'&captcha_sid='+data['cid']+'&captcha_img='+$('#captin').val(), function (data) {
                            console.log(data);
                            loading.css("display", "none");
                            if (!data['cid']) {
                                chip.css("display", "inline-block");
                                $("#name").text(data['name']);
                                $("#photo").attr("src", data['photo']);

                            }
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock scripts %}