<!DOCTYPE html>
<html lang="en" class="mdl-js">
<head>
    <title>VK App Token Requestor</title>
    <meta name="description" content="Get token from VK Android app.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#303F9F">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='material.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">VK App Token Requestor</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Source code</a>
                <a class="mdl-navigation__link" href="https://vk.com/bionic.leha">Author</a>
                <a class="mdl-navigation__link" href="">F.A.Q</a>
                <a class="mdl-navigation__link" href="https://farbio.xyz">Main Site</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content mdl-color-text--grey-600">
        <div class="page-content">
            <div class="mdl-grid mdl-cell--4-col">
                <div class="my-card-wide mdl-card mdl-shadow--2dp">
                    <form id="auth_form" method="post">
                        <div class="mdl-card__title"><h2 class="mdl-card__title-text">Auth VK</h2></div>
                        <div class="mdl-card__supporting-text">This app requesting token from official mobileclients
                        </div>
                        <div class="mdl-card__supporting-text text_input">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="login" id="inp_log" required>
                                <label class="mdl-textfield__label" for="inp_log">Phone or email</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="pass" id="inp_pass" required>
                                <label class="mdl-textfield__label" for="inp_pass">Password</label>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Select scopes:
                            <div class="mdl-grid">
                                <div class="mdl-cell--4-col">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                        <input type="checkbox" name="scope" value="messages" id="checkbox-1"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Messages</span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                        <input type="checkbox" name="scope" value="photos" id="checkbox-2"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Photos</span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                        <input type="checkbox" name="scope" value="friends" id="checkbox-3"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Friends</span>
                                    </label>
                                </div>
                                <div class="mdl-cell--4-col">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                        <input type="checkbox" name="scope" value="audio" id="checkbox-4"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Audio</span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                        <input type="checkbox" name="scope" value="video" id="checkbox-5"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Video</span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                        <input type="checkbox" name="scope" value="wall" id="checkbox-6"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Wall</span>
                                    </label>
                                </div>
                                <div class="mdl-cell--4-col">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
                                        <input type="checkbox" name="scope" value="status" id="checkbox-7"
                                               class="mdl-checkbox__input" checked>
                                        <span class="mdl-checkbox__label">Status</span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
                                        <input type="checkbox" name="scope" value="offline" id="checkbox-8"
                                               class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Offline</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Select app:
                            <div class="mdl-grid">
                                <div class="mdl-cell--4-col">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                                        <input type="radio" id="option-1" class="mdl-radio__button" name="app_name"
                                               value="android"
                                               checked>
                                        <span class="mdl-radio__label">Android</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                                        <input type="radio" id="option-2" class="mdl-radio__button" name="app_name"
                                               value="iphone">
                                        <span class="mdl-radio__label">iPhone</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                                        <input type="radio" id="option-3" class="mdl-radio__button" name="app_name"
                                               value="ipad">
                                        <span class="mdl-radio__label">iPad</span>
                                    </label>
                                </div>
                                <div class="mdl-cell--4-col">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                                        <input type="radio" id="option-4" class="mdl-radio__button" name="app_name"
                                               value="windowsphone">
                                        <span class="mdl-radio__label">WindowsPhone</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                                        <input type="radio" id="option-5" class="mdl-radio__button" name="app_name"
                                               value="windows">
                                        <span class="mdl-radio__label">Windows</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                                <input type="checkbox" id="switch-1" name="save_cookie" value="true" class="mdl-switch__input">
                                <span class="mdl-switch__label">Save user info in your cookies</span>
                            </label>
                        </div>
                        <div class="mdl-card__supporting-text"><span class="typo-styles__name">Your token will not be saved or used by me</span>
                        </div>
                        <div class="mdl-card__supporting-text p-bar" id="prog-bar">
                            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-layout-spacer"></div>
                            <input type="submit" name="auth_vk"
                                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                   value="Get VK Android token"
                                   onclick="document.getElementById('prog-bar').style.display = 'block'">
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script defer src="{{ url_for('static', filename='material.min.js') }}"></script>
<link rel="stylesheet" href=https://fonts.googleapis.com/icon?family=Material+Icons>
<script src=https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</body>
</html>